.event-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #adbef5;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }
  
  .event-date__month {
    font-size: 0.75rem;
    font-weight: normal;
  }
  
  .event-date__year {
    font-size: 0.75rem;
  }
  
  .event-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }